@model IPost

@{
    ViewBag.Title = "Удаление поста";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Вы точно хотите удалить пост ID: @Model.Id?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="div-post">@Model.Text</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Remove" method="Post">
                <input type="hidden" name="postId" asp-for="Id" />
                <input class="btn btn-dark" type="submit" value="Удалить"/>
                <a asp-action="Posts" asp-controller="Post" asp-route-threadId="@Model.ThreadId" 
                   class="btn btn-dark">Отмена</a>
            </form>
        </div>
    </div>
</div>