@model IEnumerable<IBoard>

@{
    ViewBag.Title = "Тихое место";
    Layout = "_Layout";
}

<!DOCTYPE html>

<table>
    <tr>
        <td>
            <h1>Добро пожаловать. Снова.</h1>
        </td>
        <td>
            <a asp-action="Create" asp-controller="Board" class="btn btn-default" method="get">
                Создать новую доску
            </a>
        </td>
    </tr>
</table>

<div class="container">
    <div class="row">
        @foreach (var board in Model)
        {
            <div class="col-sm">
                <a asp-action="Threads" asp-controller="Thread" asp-route-boardId="@board.Id">@board.Name</a>
            </div>
        }
    </div>
</div>
@{
    var notify = ViewBag.NotifyIsEnabled as bool? ?? false;
    var codeOfText = ViewBag.NotifyCode as int? ?? 404;
    
    if (notify)
    {
        <script>
            window.onload = function () {
                let text;
                
                if (@codeOfText === -1) {
                    text = 'Доска удалена';
                } else if (@codeOfText === 0) {
                    text = 'Доска отредактирована';
                } else if (@codeOfText === 1) {
                    text = 'Доска создана';
                } else {
                    text = 'NULL';
                }
                sendNotification('Результат действия:', { body: text, dir: 'rtl', icon: '/images/img.png'});
            }
        </script>
    }
}
