@model IEnumerable<IBoard>

@{
    ViewBag.Title = "Тихое место";
    Layout = "_Layout";
}

<!DOCTYPE html>

<table>
    <tr>
        <td>
            <h1>Добро пожаловать. Снова.</h1>
        </td>
        <td>
            <a asp-action="Create" asp-controller="Board" class="btn btn-default" method="get">
                Создать новую доску
            </a>
        </td>
    </tr>
</table>

<div class="container">
    <div class="row">
        @foreach (var board in Model)
        {
            <div class="col-sm">
                <a asp-action="Threads" asp-controller="Thread" asp-route-boardId="@board.Id">@board.Name</a>
            </div>
        }
    </div>
</div>

@if (ViewBag.NotifyIsEnabled is not null && ViewBag.NotifyIsEnabled)
{
    <script src="js/sendNotification.js"></script>
}