@model Board

@{
    ViewBag.Title = "Создание новой доски";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form asp-action="Create" method="Post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control bg-dark text-light" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DomainName" class="control-label"></label>
                    <input asp-for="DomainName" class="form-control bg-dark text-light" />
                    <span asp-validation-for="DomainName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Выберите файл для загрузки</label>
                    <input type="file" name="upload" class="form-control bg-dark text-light" />
                </div>
                <div class="form-group">
                    <label asp-for="MaxCountOfThreads" class="control-label"></label>
                    <input asp-for="MaxCountOfThreads" type="number" class="form-control bg-dark text-light" />
                    <span asp-validation-for="MaxCountOfThreads" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsHidden" class="control-label"></label>
                    <input asp-for="IsHidden" type="checkbox" class="form-control bg-dark text-light" unchecked />
                    <span asp-validation-for="IsHidden" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control bg-dark text-light" cols="75" rows="15"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            <input type="submit" value="Создать" class="btn btn-dark"/>
                        </div>
                        <div class="col-auto">
                            <a asp-action="Boards" class="btn btn-dark">Отмена</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>