@model IBoard

@{
    ViewBag.Title = "Удаление доски";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Вы точно хотите удалить @Model.Name?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Remove" method="Post">
                <input type="hidden" name="boardId" asp-for="Id" />
                <input class="btn btn-dark" type="submit" value="Удалить"/>
                <a asp-action="Edit" asp-route-boardId="@Model.Id" class="btn btn-dark">Отмена</a>
            </form>
        </div>
    </div>
</div>
