@model Board

@{
    ViewData["Title"] = "Удаление доски";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Вы точно хотите удалить @Model.Name?</h2>
            <hr />
            
            <form asp-action="Remove" asp-controller="Board" method="Post">
                <input type="submit" asp-for="Id" value="Удалить" class="btn btn-default" />
                <a asp-action="Threads" asp-controller="Thread" asp-route-boardId="@Model.Id" class="btn btn-default">Отмена</a>
                <script>sendNotification("Результат", {body: 'Доска удалена', dir: 'auto' })</script>
            </form>
        </div>
    </div>
</div>
