@model IRole

@{
    ViewBag.Title = "Удаление роли";
    Layout = "_Layout";
}

<h1>@ViewBag.Title</h1>

<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Вы точно хотите удалить @Model.Name?</h2>
            <br>
            
            <form asp-action="Remove" method="Post">
                <input type="hidden" name="roleId" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-default"/>
                <a asp-action="Roles" class="btn btn-default">
                    Отмена
                </a>
            </form>
        </div>
    </div>
</div>