/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Text creators
-------------------------------------------------- */
.spoiler {
  color: #6c757d;
  background-color: #6c757d;
}

/* Upload form
-------------------------------------------------- */

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 200px;
  outline: 2px dashed #5d5d5d;
  outline-offset: -12px;
  background-color: #e0f2f2;
  font-family: 'Segoe UI', serif;
  color: #1f3c44;
}

.upload-container img {
  height: 100%;
  margin-bottom: 20px;
  user-select: none;
}

.upload-container label {
  font-weight: bold;
}

.upload-container label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.upload-container input[type=file] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.upload-container input[type=file]:focus + label {
  outline: 1px solid #0078d7;
  /*outline: -webkit-focus-ring-color auto 5px;*/
}

.upload-container.dragover {
  background-color: #fafafa;
  outline-offset: -17px;
}

/* Site design
-------------------------------------------------- */
body {
  background-color: #000C0E;
  color: #f8f9fa;
  font-family: 'Segoe UI', serif;
}

.board-page {
  float: right;
  padding-right: 5%;
}

.board {
  flex: auto;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  height: 95%;
  max-height: 720px;
  background-color: #011618;
  border: 2px solid #adb5bd;
}

.straight-line {
  border: 2px solid lightgray;
}